git config --global user.name "Frederic Le Blay"
git config --global user.email "frederic.leblay@gmail.com"
git config --global core.editor vim
git config --global diff.tool vimdiff
git config --global merge.tool vimdiff
git config --global core.autocrlf input
git config --global alias.mylog 'log --pretty=format:"h %ad | %s%d [%an]" --graph --date=short'
git config --global commit.template ~/.gitmessagetemplate
git config --global alias.vcommit 'commit --verbose --verbose'
git config --global help.autocorrect 30
git config --global difftool.prompt false
